@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Oppgi pasientinformasjon:</p>
    <form method="post">
        Name: <input type="text" name="name"/> <br />
        Triage Level: <input type="number" name="triagelevel"/> <br /><br/>
        <input type="submit" />
    </form>


        
