@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Oppgi pasientinformasjon:</p>
    <form method="post">
        Name: <input type="text"/> <br />
        Triage Level: <input type="number"/> <br /><br/>
        <input type="submit" />
    </form>


        
